[*]
insert_final_newline = true

[*.cs]

dotnet_diagnostic.SA1010.severity = none

# require trailing commas
dotnet_diagnostic.MA0007.severity = none
dotnet_diagnostic.SA1413.severity = none

# require XML comments
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1600.severity = none

# require file headers
dotnet_diagnostic.SA1633.severity = none

# require that fields do not begin with an underscore
dotnet_diagnostic.SA1309.severity = none

# require that the keyword 'new' be followed by a space
dotnet_diagnostic.SA1000.severity = none

# require that local calls are prefixed with 'this'
dotnet_diagnostic.SA1101.severity = none

# require closing parenthesis to be on the same line as the last parameter
dotnet_diagnostic.SA1111.severity = none

# require closing parenthesis not be preceded by a space
dotnet_diagnostic.SA1009.severity = none

# require that arithmetic expressions declare precedence explicitly
dotnet_diagnostic.SA1407.severity = none

# require that closing square brackets be followed by a space
dotnet_diagnostic.SA1011.severity = none

# require that parameter names start with a lowercase letter
dotnet_diagnostic.SA1313.severity = none

# require that get auto-properties begin with "get"
dotnet_diagnostic.SA1623.severity = none

# don't throw NotImplementedException
dotnet_diagnostic.MA0025.severity = none

# a constructor should not follow a property
dotnet_diagnostic.SA1201.severity = none

# force constructor documentation text
dotnet_diagnostic.SA1642.severity = none

[*.csproj]
indent_style = space
indent_size = 2
tab_size = 2