[*]
insert_final_newline = true

[*.cs]

dotnet_diagnostic.SA1206.severity = none

dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1516.severity = none

# require trailing commas
dotnet_diagnostic.MA0007.severity = none
dotnet_diagnostic.SA1413.severity = none

# require XML comments
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1600.severity = none

# require file headers
dotnet_diagnostic.SA1633.severity = none

# require that fields do not begin with an underscore
dotnet_diagnostic.SA1309.severity = none

# require that the keyword 'new' be followed by a space
dotnet_diagnostic.SA1000.severity = none

# require that local calls are prefixed with 'this'
dotnet_diagnostic.SA1101.severity = none

# require closing parenthesis to be on the same line as the last parameter
dotnet_diagnostic.SA1111.severity = none

# require closing parenthesis not be preceded by a space
dotnet_diagnostic.SA1009.severity = none

# require that arithmetic expressions declare precedence explicitly
dotnet_diagnostic.SA1407.severity = none

# require that closing square brackets be followed by a space
dotnet_diagnostic.SA1011.severity = none

# require that parameter names start with a lowercase letter
dotnet_diagnostic.SA1313.severity = none

# require that get auto-properties begin with "get"
dotnet_diagnostic.SA1623.severity = none

# require no empty statements
dotnet_diagnostic.SA1106.severity = none
dotnet_diagnostic.SA1508.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1500.severity = none

# MA0051: Method is too long
dotnet_diagnostic.MA0051.severity = none

# require that opening braces be preceded by a space
dotnet_diagnostic.SA1012.severity = none

# don't throw NotImplementedException
dotnet_diagnostic.MA0025.severity = none

# a constructor should not follow a property
dotnet_diagnostic.SA1201.severity = none

# force constructor documentation text
dotnet_diagnostic.SA1642.severity = none

# prevent parameter spanning multiple lines
dotnet_diagnostic.SA1118.severity = none

# force static members to appear before non-static
dotnet_diagnostic.SA1204.severity = none

# style warnings
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0021.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0024.severity = none
dotnet_diagnostic.IDE0027.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0055.severity = none

# force abstraction over implementation
dotnet_diagnostic.MA0016.severity = none
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = file_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_indent_labels = one_less_than_current
dotnet_diagnostic.MA0015.severity = none

[*.razor]

# require XML comments
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1600.severity = none

[*.csproj]
indent_style = space
indent_size = 2
tab_size = 2

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
