<MudCardHeader>
    <CardHeaderContent>
        <MudGrid Spacing="1">
            <MudItem xs="12" sm="8" md="8">
                @HeaderContent
            </MudItem>
            <MudItem xs="12" sm="4" md="4">
                <div class="d-none d-sm-flex justify-end">
                    <MudStack Row="false" Justify="Justify.FlexEnd" Spacing="1">
                        <MudSwitch T="bool"
                                   Label="Enable"
                                   Value="IsEnabled"
                                   Color="Color.Tertiary"
                                   LabelPosition="LabelPosition.Start"
                                   ThumbIcon="@IsEnabledIcon"
                                   Disabled="IsLocked"
                                   ThumbIconColor="Color.Dark"
                                   ValueChanged="IsEnabledChanged"/>
                        <MudSwitch T="bool"
                                   Label="Lock"
                                   Value="IsLocked"
                                   Color="Color.Primary"
                                   LabelPosition="LabelPosition.Start"
                                   ThumbIconColor="Color.Dark"
                                   ThumbIcon="@IsLockedIcon"
                                   ValueChanged="IsLockedChanged"/>
                    </MudStack>
                </div>
                <div class="d-sm-none">
                    <MudStack Row="true" Justify="Justify.SpaceEvenly" Spacing="1">
                        <MudSwitch T="bool"
                                   Label="Enable"
                                   Value="IsEnabled"
                                   Color="Color.Tertiary"
                                   LabelPosition="LabelPosition.Start"
                                   ThumbIconColor="Color.Dark"
                                   Disabled="IsLocked"
                                   ThumbIcon="@IsEnabledIcon"
                                   ValueChanged="IsEnabledChanged"/>
                        <MudSwitch T="bool"
                                   Label="Lock"
                                   Value="IsLocked"
                                   Color="Color.Primary"
                                   LabelPosition="LabelPosition.Start"
                                   ThumbIconColor="Color.Dark"
                                   ThumbIcon="@IsLockedIcon"
                                   ValueChanged="IsLockedChanged"/>
                    </MudStack>
                </div>
            </MudItem>
        </MudGrid>
    </CardHeaderContent>
</MudCardHeader>

@code
{
    [Parameter, EditorRequired] public required RenderFragment HeaderContent { get; set; }

    [Parameter, EditorRequired] public required ConfigurationStatus ConfigurationStatus { get; set; } = ConfigurationStatus.Enabled;

    [Parameter, EditorRequired] public required EventCallback<ConfigurationStatus> ValueChanged { get; set; }

    private bool IsEnabled => ConfigurationStatus.HasFlag(ConfigurationStatus.Enabled);

    private bool IsLocked => ConfigurationStatus.HasFlag(ConfigurationStatus.Locked);

    private string IsEnabledIcon => IsEnabled ? Icons.Material.Sharp.MusicNote : Icons.Material.Sharp.MusicOff;

    private string IsLockedIcon => IsLocked ? Icons.Material.Sharp.Lock : Icons.Material.Sharp.LockOpen;

    private void IsEnabledChanged(bool isEnabled)
    {
        ConfigurationStatus = isEnabled switch
        {
            true when IsLocked => ConfigurationStatus.Enabled | ConfigurationStatus.Locked,
            true when !IsLocked => ConfigurationStatus.Enabled,
            false when IsLocked => ConfigurationStatus.Disabled | ConfigurationStatus.Locked,
            false when !IsLocked => ConfigurationStatus.Disabled,
            _ => ConfigurationStatus
        };

        ValueChanged.InvokeAsync(ConfigurationStatus);
    }

    private void IsLockedChanged(bool isLocked)
    {
        ConfigurationStatus = isLocked switch
        {
            true when IsEnabled => ConfigurationStatus.Enabled | ConfigurationStatus.Locked,
            true when !IsEnabled => ConfigurationStatus.Disabled | ConfigurationStatus.Locked,
            false when IsEnabled => ConfigurationStatus.Enabled,
            false when !IsEnabled => ConfigurationStatus.Disabled,
            _ => ConfigurationStatus
        };

        ValueChanged.InvokeAsync(ConfigurationStatus);
    }
}
